<section role="main" class="today-customers">

  <ng-container *ngIf="customerDetails.length && !isEditCustomer">
    <div class="row">
      <div class="col-md-8">
        <h2 role="heading">Todays's Purchase</h2>
        <table role="table" class="table table-striped customer-list">
          <thead>
            <tr>
              <th role="rowheader">{{customerLabels.name}}</th>
              <th role="rowheader">{{customerLabels.numberOfItems}}</th>
              <th role="rowheader">{{customerLabels.amount}}</th>
              <th colspan="2" role="rowheader">{{customerLabels.action}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customere of customerDetails" aria-label="View customer details" (click)="showCustomerDetails(customere)">
              <td role="row">{{customere.firstName}} {{customere.lastName}}</td>
              <td role="row">{{customere.countOfPurchase}}</td>
              <td role="row">{{customere.amountOfItems}}</td>
              <td role="row">
                <ng-container *ngIf="!isToDelete">
                  <div class="btn-group mr-2" role="group" aria-label="edit">
                    <button role="button" class="btn btn-sm btn-primary"
                      (click)="editCustomerDetails(customere)">{{customerLabels.editButton}}</button>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="delete">
                    <button role="button" class="btn btn-sm btn-danger"
                      (click)="confirmCustomerDelete(customere)">{{customerLabels.deleteButton}}</button>
                  </div>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-container *ngIf="isToDelete">
          <div class="alert alert-warning confirmation-box">
            <strong>Warning!</strong> Are you sure you want to delete {{customerTobeDeleted.firstName}} {{customerTobeDeleted.lastName}} ?
            <div class="btn-group mr-2" role="group" aria-label="delete">
              <button role="button" class="btn btn-sm btn-danger"
                (click)="deleteCustomerDetails(customere)">{{customerLabels.deleteButton}}</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="delete">
              <button role="button" class="btn btn-sm btn-warning"
                (click)="cancelDelete()">CANCEL</button>
            </div>
          </div>
        </ng-container>
        <button *ngIf="!isEditCustomer" role="button" class="btn btn-sm btn-success"
          (click)="addCustomere()">{{customerLabels.addCustomere}}</button>
      </div>
      <div class="col-md-4" *ngIf="isShowCustomerDetails">
        <h2 role="heading">{{customerLabels.customerDeatils}}</h2>
        <div class="customer-detail">
          <table role="table" class="table table-hover">
            <tbody>
              <tr>
                <td role="rowheader">{{customerLabels.firstName}}</td>
                <td role="row">{{viewCustomerDetails.firstName}}</td>
              </tr>
              <tr>
                <td role="rowheader">{{customerLabels.lastName}}</td>
                <td role="row">{{viewCustomerDetails.lastName}}</td>
              </tr>
              <tr>
                <td role="rowheader">{{customerLabels.itemsPurchase}}</td>
                <td role="row">{{viewCustomerDetails.countOfPurchase}}</td>
              </tr>
              <tr>
                <td role="rowheader">{{customerLabels.totalAmount}}</td>
                <td role="row">{{viewCustomerDetails.amountOfItems}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isEditCustomer">
    <app-details [customerToEdit]="customerToBeEdit" (closeEdit)=closeEdit($event)></app-details>
  </ng-container>
</section>
